@import "mocha.css"; 

* {
  border: none;
  min-height: 0px;
  /* `otf-font-awesome` is required to be installed for icons */
  /* propo font expands nerd font icons and fixes spacing - variable width */
  font-style: normal;
  font-size: 14px;
}

window#waybar {
  font-family: FontAwesome, JetBrainsMono Nerd Font Propo;
  background-color: @base;
  color: @blue;
  border-bottom: 2px solid @blue;
}

tooltip {
  border: 2px solid @blue;
  border-radius: 0px;
  background-color: @base;
}

#workspaces button {
  padding: 0px 3px;
  background-color: transparent;
  color: @blue;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#workspaces button.special {
  color: @text;
}

/* fix active workspce button not being aligned */
/*#workspaces button.active {*/
/*  margin: 0px 3px 0px -3px;*/
/*}*/

#mpris {
  margin-left: 10px;
}

.modules-left {
  margin-left: 5px;
} 

.modules-right {
  margin-right: 5px;
} 

.power-control-child > * {
  margin-right: 7px;
}

#power-control > * {
  font-family: JetBrainsMono Nerd Font;
  padding: 0px;
}

window #power-control {
  padding-right: 2px;
}

#workspaces button.urgent {
  color: @yellow;
}

#mode {
  background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#battery,
#cpu,
#pulseaudio,
#upower,
#bluetooth,
#workspaces
#mpris,
#power-control,
#mpd {
  padding: 0px 5px 0px 5px;
  background-color: transparent;
}


#battery.charging, 
#battery.plugged,
#battery.full.plugged {
  color: @green;
}

#battery.critical:not(.charging) {
  color: @red;
}

#network.disconnected {
  color: @red;
}

#pulseaudio.muted {
  color: @red;
}

#temperature.critical {
  color: @red;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  color: @red;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}
