@import url("./mocha.css");

/*menu * {*/
/*  min-width: 0;*/
/*  min-height: 0;*/
/*}*/

*{
  font-family: JetBrainsMono Nerd Font;
}

button {
  color: @blue;
  background-color: transparent;
  padding: 0px;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

tooltip {
  color: @blue;
  background-color: @base;
  border: 2px solid @blue;
  border-radius: 0px;
  min-width: 0px;
  min-height: 0px;

}


/* App Launcher css */
.app-list-scroll {
  border: 2px solid @blue;
  border-radius: 0px;
  background-color: @base;
}

.app-listing-active {
  color: @red;
}

.app-listing {
  background-color: @mantle;
  border-radius: 0px;
}

entry {
  border-radius: 0px;
  background-color: @base;
}

/* Music widget css */
.music-widget {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  color: @text;
  background-color: @base;
  border: 2px solid @blue;
  padding: 20px;
  min-width: 200px;
  min-height: 2px;
}

.music-img {
  min-width: 200px;
  min-height: 200px;
  background-size: cover;
  background-position: center;
}

.music-progress highlight{
  min-height: 5px;
  border-radius: 20px;
}

.music-progress trough {
  border-radius: 20px;
}

.music-progress slider {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

/* Bar css */
.audio-muted {
  color: @red;
}

window .bar {
  color: @blue;
  background-color: @base;
  border-bottom: 2px solid @blue;
  min-height: 35px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

.tray-item {
  color: @blue;
  padding: 0px;
  margin-left: 10px;
}


.volume-slider highlight{
  min-height: 7px;
  border-radius: 20px;
}

.volume-slider trough {
  border-radius: 20px;
}

.volume-slider {
  margin: 0px 0px 0px 5px
}

.workspace-button {
  min-width: 0px;
  padding: 0px 7px 0px 7px;
}

.workspace-urgent-button {
  color: @yellow;
}

.widgets-left {
  margin-left: 5px;
}

.widgets-right {
  margin-right: 5px;
}

.widgets-left > *,
.widgets-center > *,
.widgets-right > * {
  padding: 0;
  margin: 0px 3px 0px 3px;
}

