@import url("./mocha.css");

/*menu * {*/
/*  min-width: 0;*/
/*  min-height: 0;*/
/*}*/

* {
  font-family: JetBrainsMono Nerd Font;
}

button {
  color: @blue;
  background-color: transparent;
  padding: 0px;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

tooltip {
  color: @blue;
  background-color: @base;
  border: 2px solid @blue;
  border-radius: 0px;
  min-width: 0px;
  min-height: 0px;

}

/* Notification css */
.notification {
  background-color: @base;
  border: 2px solid @blue;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  min-width: 350px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.notification.notification-critical .notification-icon {
  color: @peach;
}

.notification.notification-critical {
  border: 2px solid @peach;
}

.notification-window,
.notification-list {
  background-color: transparent;
}

/*.notification-list * {*/
/*  background-color: @base;*/
/*  border-radius: 0px;*/
/*}*/

.notification-icon {
  color: @blue;
  min-width: 32px;
  min-height: 32px;
  margin-right: 0.5em;
}

.notification-icon image {
  font-size: 96px;
  border-radius: 0px;
  margin: 5px;
}

.notification-icon icon {
  min-width: 96px;
  min-height: 96px;
}

.notification-icon box {
  min-width: 96px;
  min-height: 96px;
  border-radius: 0px;
}

.notification-title {
  font-weight: bold;
}

.notification-actions-button {
  background-color: @surface0;
  color: @text;
  border-radius: 5px;
}

.notification-actions-button:hover {
  background-color: @surface1;
}


.notification-actions {
  padding: 0.5em;
}

/* App Launcher css */
.picker-list-scroll {
  border: 2px solid @blue;
  border-radius: 0px;
  background-color: @base;
}

.picker-listing-active {
  color: @red;
}

.picker-listing {
  background-color: @mantle;
  border-radius: 0px;
}

entry {
  border-radius: 0px;
  background-color: @base;
}

/* Music widget css */
.music-widget {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  color: @text;
  background-color: @base;
  border: 2px solid @blue;
  padding: 20px;
  min-width: 200px;
  min-height: 2px;
}

.music-img {
  min-width: 200px;
  min-height: 200px;
  background-size: cover;
  background-position: center;
}

.music-progress highlight{
  min-height: 5px;
  border-radius: 20px;
}

.music-progress trough {
  border-radius: 20px;
}

.music-progress slider {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

/* Bar css */
.audio-muted {
  color: @red;
}

window .bar {
  color: @blue;
  background-color: @base;
  border-bottom: 2px solid @blue;
  min-height: 35px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

.tray-item {
  color: @blue;
  padding: 0px;
  margin-left: 10px;
}


.volume-slider highlight{
  min-height: 7px;
  border-radius: 20px;
}

.volume-slider trough {
  border-radius: 20px;
}

.volume-slider {
  margin: 0px 0px 0px 5px
}

.workspace-button {
  min-width: 0px;
  padding: 0px 7px 0px 7px;
}

.workspace-urgent-button {
  color: @yellow;
}

.powermenu-button {
  padding: 4px;
}

button.powermenu-button-primary {
  padding: 1px 5px 1px 3px;
}

.powermenu-widget {
  margin-left: 0px;
  padding-left: 0px;
}

.widgets-left {
  margin-left: 5px;
}

.widgets-right {
  margin-right: 5px;
}

.widgets-left > *,
.widgets-center > *,
.widgets-right > * {
  padding: 0;
  margin: 0px 3px 0px 3px;
}

